.home{
    flex: 4;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}
.homeWrapper{
    padding: 0.5rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.widgets{
    display: flex;
    padding: 1rem;
}